@model DccyOrigination.Models.SysManagement.AdmJurisdiction

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdmJurisdiction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JurName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JurName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenuStyle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenuStyle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoleId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsAuthorization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAuthorization)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsOpen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsOpen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsChildren)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsChildren)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Guid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Guid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PGuid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PGuid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimestampV)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimestampV)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
